# list
- similer to array in c language..
- can store multiple data type..

In [1]:
my_list=[1,2,3]

In [2]:
my_list=['STRING',100,23.2]

In [3]:
len(my_list)

3

In [4]:
mylist=['one','two','three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
mylist

['one', 'two', 'three']

In [8]:
another_list=['four','five']

In [9]:
mylist + another_list    #concetenation

['one', 'two', 'three', 'four', 'five']

In [10]:
mylist

['one', 'two', 'three']

In [11]:
another_list

['four', 'five']

In [12]:
newlist = mylist + another_list

In [13]:
newlist

['one', 'two', 'three', 'four', 'five']

In [14]:
newlist[0]

'one'

In [15]:
newlist[0] = 'ONE ALL CAPES'    #unlike strings we can chnage objects in lists

In [16]:
newlist

['ONE ALL CAPES', 'two', 'three', 'four', 'five']

In [43]:
newlist.append('six')    #to add any element at the end

In [44]:
newlist

['seven', 'six']