# string

In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
'this is also a string'

'this is also a string'

In [4]:
'i'm going on a  run '

SyntaxError: invalid syntax (<ipython-input-4-738d99a3f5e7>, line 1)

In [6]:
"i'm going on a  run "

"i'm going on a  run "

In [9]:
print("hello")

hello

In [11]:
print("hello world one")
print("hello world two")

hello world one
hello world two

- escape sequence 
- \n for new line
- \t for tab space

In [12]:
print("hello \n world")

hello
 world

In [13]:
print("hello\tworld")

hello	world

- to check the lenght of string use len()

In [15]:
len("hello")

5

In [16]:
len('anjuman sidi ')

13

In [17]:
mystring = "hello world"

In [18]:
mystring

'hello world'

# INDEXING
- it allows you to grab a single charecter from a string

- charecter     : h  e  l  l  o 
-         Index : 0  1  2  3  4
- reverse Index : 0 -4 -3 -2 -1

In [27]:
mystring[0]

'h'

In [21]:
mystring[8]

'r'

In [23]:
mystring[9]

'l'

In [24]:
mystring[-2]

'l'

In [28]:
mystring[-3]

'r'

In [29]:
mystring[-1]

'd'

# Slicing
- it allows you to grab a sun-sesectin of multiple charecters...
- syntax [start:stop:step]

In [30]:
mystring = "abcdefghijk"

In [31]:
mystring

'abcdefghijk'

In [33]:
mystring[2:]

'cdefghijk'

In [34]:
mystring[:3]

'abc'

In [35]:
mystring[3:6]

'def'

In [36]:
mystring[1:3]

'bc'

In [37]:
mystring[3:9]

'defghi'

In [38]:
mystring

'abcdefghijk'

In [39]:
mystring[::]

'abcdefghijk'

In [40]:
mystring[::2]

'acegik'

In [41]:
mystring[2:7:2]

'ceg'

- to reverse sting we can use index in -ve

In [42]:
mystring[::-1]

'kjihgfedcba'


# immutability 
- which means you can not change it
- you can concatenate sring by pluse [+] sign...

In [1]:
name = "anju"

In [2]:
name[0]= 'b'

TypeError: 'str' object does not support item assignment

In [6]:
new_name=name[:2] #using slicing

In [7]:
new_name

'an'

# concatenate 
- to jone/add/mearg two string..

In [18]:
new_name + "juman"

'anjuman'

In [11]:
x = "HEllo world ! "

In [16]:
x = x + "it's beautiful outside..."

In [17]:
x

"HEllo world ! it's beautiful outside...it's beautiful outside..."

- we can use * to repet the same latter N number of times knons as multiply concatenate

In [26]:
#for example say
a = "z"

In [27]:
a*10

'zzzzzzzzzz'

In [28]:
#here notice 

2+3

5

In [29]:
'2'+'3'  # here 2 and 3 are string and not the interger numbers so, + sign will performe concatenation and not the addition

'23'

# methods in string built in functions

- write variable name . hit the tab and u will get all the availble methos

In [33]:
x ='Hello World'

In [34]:
x

'Hello World'

In [35]:
x.upper()

'HELLO WORLD'

# if you use methos with out perenthisis () it will not be exicuted , insted python will return somthig like this....

In [37]:
x.upper

- python thinks you asked what it is

# splite()
- you can split any string by passing from where to split it 
- here i.e. split frm white space

In [38]:
x.split()

['Hello', 'World']

here if you pass i then it will split from the i by rwmoving it and continueing until next i comes

In [39]:
x = ' Hi this is a string...'

In [41]:
x.split('i')

[' H', ' th', 's ', 's a str', 'ng...']

# formatting with the .format() mathod
- syntax
- 'somthing here {} then also {}'.format('somthing1','somthing 20')

In [46]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [47]:
print('The {} {} {}'.format('fox','brown','quick')) #it insertes words as we have writen in sequence..

The fox brown quick

In [48]:
print('The {0} {1} {2}'.format('fox','brown','quick'))

The fox brown quick

In [49]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [50]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

- we can use keyword...for simplicity

In [51]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

#  float formating follows "value:width.precision f"

In [52]:
result = 100/777

In [53]:
result

0.1287001287001287

In [55]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [54]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [58]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [59]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [60]:
result = 104.12345

In [61]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

# f string litrals

In [ ]:
name = 'anju'

In [69]:
print("hello, her name is {}".format(name))

hello, her name is anju

In [70]:
print(f"hello, her name is {name}")

hello, her name is anju

In [73]:
name = 'anju'
age='19'

In [74]:
print(f'{name} is {age} years old.')

anju is 19 years old.